<p>Total Amount:{{value}}</p>
<form [formGroup]="CalForm" (ngSubmit)="total()">
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error *ngIf="CalForm.get('name')?.hasError('required')">Please Enter Name</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>gross_salary</mat-label>
          <input matInput placeholder="Name" formControlName="gross_salary" />
          <mat-error *ngIf="CalForm.get('gross_salary')?.hasError('required')">Please Enter Name</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>hra</mat-label>
          <input matInput placeholder="Name" formControlName="hra" />
          <mat-error *ngIf="CalForm.get('hra')?.hasError('required')">Please Enter hra</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>incentives</mat-label>
          <input matInput placeholder="Name" formControlName="incentives" />
          <mat-error *ngIf="CalForm.get('incentives')?.hasError('required')">Please Enter incentives</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>pf</mat-label>
          <input matInput placeholder="Name" formControlName="pf" />
          <mat-error *ngIf="CalForm.get('pf')?.hasError('required')">Please Enter pf</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>tax</mat-label>
          <input matInput placeholder="Name" formControlName="tax" />
          <mat-error *ngIf="CalForm.get('tax')?.hasError('required')">Please Enter tax</mat-error>
        </mat-form-field>
      </p>
      <p>
          <button type="submit">submit</button>
      </p>
</form>
